body{
    font-family: outfit;
    height: 200vh;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    caret-color: transparent;
}
.header_container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image:linear-gradient(rgba(211, 208, 208, 0.5), rgba(255, 255, 255, 0.5)), url('images/gemini.jpeg');
    background-size: cover;
    background-position:bottom;


}
.header_container h1{
    font-size: 50px;
    width: 70%;
    text-align: center;

}
.header_container p{
    margin-top: 50px;
    font-size: 20px;
    width: 50%;
}

.who_container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.who_contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.who_contents h1{
    text-align: center;
    font-size: 40px;

}
.who_contents p{
    margin-top: 20px;
    line-height: 30px;
    font-size: 18px;
    width: 70%;

}
.highlights{
    margin:0px auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.highlight_cards{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(202, 201, 201);
    padding: 40px;
    border-radius: 8px;
    width: 250px;
    
}





/* mission & vission */

.mission_container{
    display: flex;
    height: 90vh;
    flex-direction: column;
    gap: 70px;
    width: 90%;
    margin: 10px auto;
    padding: 10px;

}
.mission_container h1{
    font-size: 30px;
    text-align: center;
}
.mission_content {
    display: flex;
    width: 80%;
    margin: 0px auto;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.mission_content img{
    height: 250px;
}
.mission_text{
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mission_text p{
    width: 100%;
    font-size: 18px;
    
}
.mission_text h4{
    font-size: 27px;
}
.imgg{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mission_text h4{
    text-align: center;
}
.vission_content{
    display: flex;
    width: 80%;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin: 10px auto;
    
}
.vission_content {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.vission_content img{
    height: 200px;
}


/* why choose us  */

.why_choose_container{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.why_choose_container h1{
    font-size: 30px;
    text-align: center;
}

.why_card_container{
    margin-top: 30px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    gap: 30px;
    flex-wrap: wrap;
}
.why_card{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(207, 205, 205);
    padding: 30px;
    width: 250px;
    height: 120px;
    text-align: center;
    border-radius: 8px;
}
.why_card h4{
    font-size: 20px;
 margin: 0px;
}
.why_img{
    border-radius: 50%;
    height: 60px;
}
