body{
    color: #333;
}

.service-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
    padding-bottom: 0;
}

.servies-heading{
    font-size: 40px;
}

.service-header p{
    width: 60vw;
    line-height: 1.6rem;
}

.services-boxes-container{
    display: grid;
    padding: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 20px;
    flex-wrap: wrap;
}

.services-boxes-container .service-box{
    background-color: #005F3A;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
    .service-box {
        height: 80px;
        font-size: 0.9rem;
    }
}

.service-box  .img-place_holder{
    width: 50%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.service-box img{
    display: block;
    width: 10rem;
}

.service-box .service-name{
    width: 50%;
    text-align: center;
}