/* Basic styles for the entire body */
body {
    font-family: 'Arial', sans-serif; /* Choose a suitable font */
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333; /* Dark gray text color */
}

/* Style the main content wrapper */
.content-wrapper {
    max-width: 960px; /* Set a maximum width for the content */
    margin: 0 auto; /* Center the content */
    padding: 20px;
}


/* Styles for the services hero section */
#services-hero {
    background-color: #f0f0f0; /* Light gray background */
    padding: 40px 0; /* Add top/bottom padding */
    text-align: center; /* Center the text */

}


#services-hero .hero-content{
    max-width: 800px;
    margin: 0 auto;
}


#services-hero h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 10px;
}

#services-hero p {
    font-size: 1.2em;
    color: #333; /* Slightly lighter gray for the paragraph */

}


/* Styles for the main services section */
#services-main {
    padding: 40px 0; /* Top/bottom padding */

}



#services-main h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px; /* Add some spacing below the heading */
    text-align: center;
}

#services-main p {
    margin-bottom: 20px;
}



/* Styles for service categories */
.service-category {
    margin-bottom: 40px; /* Add space between categories */

}



.service-category h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
    border-bottom: 2px solid #eee; /* Add a subtle line below the heading */
    padding-bottom: 5px;

}





.service-category ul {
    list-style: none;
    padding: 0; /* Remove default list padding */
}


.service-category li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 30px; /* Add space for icon/bullet */
}



.service-category li strong {  /* Style the service name */
    font-weight: bold;

}



.service-category li::before {   /* Create the square bullet with ::before pseudo-element */
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: #a17c30; /* Blue color */
    position: absolute;
    left: 0;
    top: 8px; /* Adjust vertical alignment */
}



/* Responsive Design - Adjust styles for smaller screens */
@media (max-width: 768px) {


    .content-wrapper {
        padding: 15px;
    }
    #services-hero h1 {
        font-size: 2em; /* Slightly smaller heading */
    }
    #services-main h2 {
        font-size: 1.8em;
    }


    .service-category h3 {
        font-size: 1.4em;
    }

}